body {
    background-color: #E0D299;
    color: #E05100;
    font-family: Dosis;
    font-size:
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Graduate;
    font-size: 2.2rem;
}

h2 {
    font-size: 30px;
}

header {
    text-align: center;

}

/*Hero Section */
#hero, footer {
    color: #E05100;
    text-align: center;
    background-color: #E0BE96;
    padding-bottom: 8px;
    border: dashed #E09280;
}

#hero img {
    width: 200px;
}

/*Bio Section */
#bio {
    text-align: center;
}

/*Hobbies Section */
#hobbies ul li:nth-child(even) {
    color: black;

}

#hobbies ul li:nth-child(odd) {
    color: #E08f2f;
}

/*Gallery Section */
#gallery {
    text-align: center;
    border: solid 3px #E05100;

}
 #gallery img {
    max-width: 90%;
    
 }

 /*Literature */

 #lit {
    border: dashed 3px #E09280;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 100%
 }

 #lit div p:first-letter {
    color: Black;
    float: left;
    font-size: 2rem;
    padding: .1em;
    margin-right: 3px;
    line-height: .40;
    border: ridge 7px #E09280;
    border-radius: 5px;
    box-shadow: 1px 2px 1px;
    border-top-right-radius: .5em;
    text-shadow: 1px 1px 1px #E05100;
 }






